<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PaperTrail{% endblock%}</title>
    <link id="theme-style" rel="styesheet" href="/Users/jasontanjiasheng/TT8L-03/Light & Dark Themes/light.html">
</head>
<body>
    <div id="theme-toggle">
        <button onclick="toggleTheme()">Toggle Theme</button>
    </div>
    {% block content %}{% endblock %}
    <script>
        function toggleTheme() {
            var body = document.body;
            body.classList.toggle("dark-theme");
            var themeStyle = document.getElementById("theme-style");
            themeStyle.href = body.classList.contains("dark-theme") ? "{{ url_for('static', filename='dark.css') }}" : "{{ url_for('static', filename='light.css') }}";
        }
    </script>
</body>   
</html>