<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='/Users/jasontanjiasheng/TT8L-03/Light & Dark Themes/light.css') }}">
</head>
<body>
    <div id="theme-toggle">
        <button onclick="toggleTheme()">Toggle Theme</button>
    </div>
    {% block content %}{% endblock %}
    <script>
        function toggleTheme() {
            var themeStyle = document.getElementById("theme-style");
            if (themeStyle.getAttribute("href") === "{{ url_for('static', filename='/Users/jasontanjiasheng/TT8L-03/Light & Dark Themes/light.css') }}") {
                themeStyle.setAttribute("href", "{{ url_for('static', filename='/Users/jasontanjiasheng/TT8L-03/Light & Dark Themes/dark.css') }}");
            } else {
                themeStyle.setAttribute("href", "{{ url_for('static', filename='/Users/jasontanjiasheng/TT8L-03/Light & Dark Themes/light.css') }}");
            }
        }
    </script>
</body>
</html>
