.cover {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookcover {
    position: relative;
    width: 550px;
}

.rectangle {
    width: 500px;
    height: 550px;
    background-color: #f1faee;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-image {
    width: 500px;
    height: 550px;
    border: 2px solid black;
    object-fit: cover;
}

.button {
    position: absolute;
    bottom: -10%;
    right: 50%;
    text-align: center;
    cursor: pointer;
}

.canvas-container {
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
}

.color-picker-container, .quote-container, .shape-container, .image-container, .eraser-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="color"] {
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5 px;
    width: 200px;
}

.btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

#imageLoader {
    display: none;
}

#quoteinput {
    margin-right: 10px;
}

#drawingcanvas {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



