.cover {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookcover {
    position: relative;
    width: 550px;
}

.rectangle {
    width: 500px;
    height: 550px;
    background-color: #f1faee;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-image {
    width: 500px;
    height: 550px;
    border: 2px solid black;
    object-fit: cover;
}

.button {
    position: absolute;
    bottom: -10%;
    right: 50%;
    text-align: center;
    cursor: pointer;
}

.canvas-container {
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.quote-container input, .quote-container button {
    margin: 5px;
}

#quoteinput {
    margin-right: 10px;
}

#drawingcanvas {
    border: 1px solid black;
}
