.cover {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}

.bookcover {
    width: 500px;
    transform: rotate(90deg);
}

.rectangle {
    width: 500px;
    height: 550px;
    background-color: #f1faee;
    border: 2px solid #000000;
    transform: rotate(90deg);
}

.button {
    position: absolute;
    transform: rotate(90deg);
    bottom: 270px;
    right: 110%;
    text-align: center;
    cursor: pointer;
}

.canvas-container {
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#quoteinput {
    margin-right: 10px;
}
