<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>

<body>
    <h3>Login Authentication System in Flask.</h3>
    <a href="{{ url_for('login') }}">Login Page</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br>


    <div class="container">
        <header>
        </header>

        <nav>
            <a href="webpage.html">HOME</a></li>
            <a href="library.html">LIBRARY</a>
            <a href="toppicks.html">BOOK OF THE MONTH</a>
            <a href="settings.html">SETTINGS</a>
        </nav>

        <main>
            <h1>PaperTrail</h1>
            <p>Rate your books here to be able to keep track of ur readings all year round!!</p>
        </main>

        <section>
            <img src="{{ url_for('static', filename='webpage.jpg') }}">
            <br> <p></p>
        </section>
        
        <footer>
            <p>PaperTrail, TT8L-03, Co. - Copyright 2024</p>
        </footer>
    </div>
</body>
</html>